:root {
    --white: #FFFFFF;
    --green: #A2D729;
    --mango: orangered;
    --coffee: #342E37;
    --greenDark:#1a2305;

}
.App {
    height: 100vh;
    padding-top:  10px;
    background-color:  #020207;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora {
    width: 400px;
    height: 570px;
    background-color: var(--green);
    border: 2px solid white;
}

.fila{
    margin: 4px;
    display:flex;
    align-items: center;
    align-content: center;
}